/* font */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px dashed grey;*/
}

:root {

    --background-cards: white;
    --date-card: grey;
}



header {

    min-height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/wall.png);

    h1 {
        font-family: "Edu TAS Beginner";
        font-weight: bold;
        font-size: 4.5rem;
        text-transform: uppercase;
        white-space:nowrap;
    }

}

main {

    background-image: url(./img/cork.png);
    display: flex;
    justify-content: center;
}

.container {
    
    width: 1200px;
    margin: 0 auto;

}

.row {

    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.col {

    margin: 1rem;
    
}

.card {

    position: relative;
    width: 300px;
    height: 365px;
    background-color: var(--background-cards);

    img{
        width: 100%;
        padding: 1rem;
    }
}

.pin {
    position: absolute;
    top: -3%;
    left: 42%;
    right: 0;
    bottom: 0;
    background-image: url(./img/pin.svg);
    height: 35px;
    width: 35px;
}


.title-card{

    padding-left: 1rem;

    span{
        font-family: "Sometype Mono", monospace;
        font-size: 0.8rem;
        color: var(--date-card)
    }

    h2{

        font-family: "Edu TAS Beginner";
        font-weight: bold;
        text-transform: uppercase;

    }
}

/* mediaquery */
@media screen and (max-width:664px) {

    body {

        min-width: 480px;
    }

    .title-card{
        span{
            display: none;
        }

        h2 {
            font-size: 2rem;
        }
    }

}

