/* font */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px dashed grey;*/
}

:root {
    --background-cards: white;
    --date-card: grey;
    --shadow-card: rgba(30, 30, 30, 0.336);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/wall.png);
    min-width: 200px;

    h1 {
        font-family: "Edu TAS Beginner";
        font-weight: bold;
        font-size: 4rem;
        text-transform: uppercase;
        padding: 1rem;
        white-space: nowrap;
    }
}

.container {
    width: 70% !important;
}

body {
    background-image: url(./img/cork.png);
    position: relative;
}

.card {
    background-color: var(--background-cards);
    border: none;
    box-shadow: 3px 4px 3px 0px var(--shadow-card);

    img {
        width: 100%;
        padding: 1rem;
    }

    :hover {
        cursor: pointer;
    }
}

.pin {
    position: absolute;
    background-image: url(./img/pin.svg);
    height: 2.1rem;
    width: 2.1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.title-card {
    span {
        font-family: "Sometype Mono", monospace;
        font-size: 0.8rem;
        color: var(--date-card);
        margin: 0;
    }

    h2 {
        font-family: "Edu TAS Beginner";
        font-weight: bold;
        text-transform: uppercase;
    }
}

.gallery {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.586);
    min-height: 100vh;
    min-width: 200px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    .btn {
        position: sticky;
        top: 3%;
    }

    img {
        width: 40%;
        position: sticky;
        top: 10%;
    }
}

@media screen and (max-width:576px) {
    header {
        h1 {
            font-size: 2rem;
        }
    }

    .title-card{
        span{
            display: none;
        }
    }
}

@media screen and (max-width:992px){

    .gallery {
        img {
            width: 80%;
        }
    }

}